<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.korewang.shuishui"
    android:versionCode="112"
    android:versionName="1.1.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-feature android:name="android.hardware.wifi" />
    <application
        android:name=".application.Applications"
        android:allowBackup="true"
        android:icon="@drawable/ss_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".activitys.InitActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.ListAppActivity"
            android:label="@string/title_activity_list_app" >
        </activity>
        <activity
            android:name=".activitys.GetGPSActivity"
            android:label="@string/title_activity_get_gps" >
        </activity>
        <activity
            android:name=".activitys.BmapActivity"
            android:label="@string/title_activity_bmap" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="mjZf0EG5bAdNYEbGGOt3X480" />

        <activity
            android:name=".activitys.WebChromeActivity"
            android:label="@string/title_activity_web_chrome" >
        </activity>
        <activity
            android:name="com.korewang.shuishui.activitys.DownImageActivity"
            android:label="@string/title_activity_down_image" >
        </activity>
    </application>

</manifest>
