<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.korewang.shuishui"
    android:versionCode="112"
    android:versionName="1.1.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <!-- key com.korewang.shuishui -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 在sd卡创建  删除文件 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <!-- 访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- read sim card test -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.wifi" />
    <!-- camera open -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <!-- 添加桌面快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 重力感应 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 读联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- xie 联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 禁用硬件加速  android:hardwareAccelerated="false" -->
    <!-- 单元测试 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.korewang.shuishui" >
    </instrumentation>

    <application
        android:name=".application.Applications"
        android:allowBackup="true"
        android:icon="@drawable/ss_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <service android:name=".service.TestService" >
            <intent-filter>
                <action android:name="com.shuishui.FIRST_SERVICE" />
            </intent-filter>
        </service>
        <!--   unit test -->
		<uses-library android:name="android.test.runner"/>
        <activity
            android:name=".activitys.InitActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.ListAppActivity"
            android:label="@string/title_activity_list_app" >
        </activity>
        <activity
            android:name=".activitys.GetGPSActivity"
            android:label="@string/title_activity_get_gps" >
        </activity>
        <activity
            android:name=".activitys.BmapActivity"
            android:label="@string/title_activity_bmap" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="mjZf0EG5bAdNYEbGGOt3X480" />

        <activity
            android:name=".activitys.WebChromeActivity"
            android:label="@string/title_activity_web_chrome" >
        </activity>
        <activity
            android:name=".activitys.DownImageActivity"
            android:label="@string/title_activity_down_image" >
        </activity>
        <activity
            android:name=".activitys.FragmentDemoActivity"
            android:label="@string/title_activity_fragment_demo" >
        </activity>
        <activity
            android:name=".activitys.FragmentMainActivity"
            android:label="@string/title_activity_fragment_main" >
        </activity>
        <activity
            android:name=".activitys.CameraSettingActivity"
            android:label="@string/title_activity_camera_setting"
            android:launchMode="singleTask"
            android:parentActivityName=".activitys.InitActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.InitActivity" />
        </activity>
        <activity
            android:name=".activitys.MultipleThreadDownLoaderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_multiple_thread_down_loader"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyExpandableListActivity"
            android:label="@string/title_activity_my_expandable_list"
            android:parentActivityName=".activitys.InitActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.InitActivity" />
        </activity>
        <activity
            android:name=".MyPreferenceActivity"
            android:label="@string/title_activity_my_preference" >
            <intent-filter>
                <action android:name="android.intent.action.PREFERENCE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.PREFERENCE" />
                <!-- 自定义action  和category搭配使用  否则action不起作用 程序报错 -->
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.activitys.AnimationFrameActivity"
            android:label="@string/title_activity_animation_frame" >
        </activity>
        <activity
            android:name=".animation.activitys.WrapActivity"
            android:label="@string/title_activity_wrap" >
        </activity>
        <activity
            android:name=".animation.activitys.MySharedPreferenceActivity"
            android:label="@string/title_activity_my_shared_preference" >
        </activity>
        <activity
            android:name=".animation.activitys.GestrueZoomActivity"
            android:label="@string/title_activity_gestrue_zoom"
            android:launchMode="singleTask"
            android:parentActivityName=".MyExpandableListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyExpandableListActivity" />
        </activity>
        <activity
            android:name=".animation.activitys.AlarmActivity"
            android:label="@string/title_activity_gestrue_zoom" >
        </activity>
        <activity
            android:name=".MatrixActivity"
            android:label="@string/title_activity_matrix" >
        </activity>

        <provider
            android:name="com.korewang.shuishui.unit_content_provider.StudentContentProvider"
            android:authorities="com.korewang.shuishui.unit_content_provider.StudentContentProvider" >
        </provider>
        <!-- android:authorities   唯一标识 -->
    </application>

</manifest>